
$sidebar_width: 300px;

html {
    background-color: #222;
}

body {
    > header {
        background-color: #222;
        color: #fff;
        padding: 0 1em;
        box-sizing: border-box;

        @include breakpoint(medium) {
            width: $sidebar_width;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            overflow-y: auto;
        }

        > a {
            text-align: center;
            background: #f4f4f4;
            display: block;
            padding: 1em;
            border-bottom-left-radius: .5em;
            border-bottom-right-radius: .5em;
            color: #222;

            > p {
                font-weight: bolder;
                font-size: 1.5em;
                margin: .5em .5em 0;
            }
        }
    }
    > footer {
        padding: .5em 2em;
        background-color: #222;
        color: #fff;
        text-align: center;

        p {
            padding: 0;
        }

        nav.horizontal ul li {
            margin: 0;
        }

        a {
            color: $color-link-invert;
            &:hover, &:focus {
                color: $color-link-invert-hover;
            }
        }

        @include breakpoint(medium) {
            text-align: right;
            margin-left: $sidebar_width;
            > p {
                display: inline-block;
            }
            > nav.horizontal {
                display: inline-block;
                ul {
                    display: inline-block;
                    li {
                        display: inline-block;
                        &:last-child a {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

main {
    padding: 1em 2em 2em;
    background-color: #fff;

    @include breakpoint(medium) {
        margin-left: $sidebar_width;
    }
    @include breakpoint(xlarge) {
        padding-right: $sidebar_width;
    }

    img {
        box-shadow: 0 1px 2px $color-shadow;
        background-color: #fff;
        padding: 2px;
        border: 5px solid #eee;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

body > aside {
    padding: 1em 2em 2em;
    background-color: #fff;

    @include breakpoint(medium) {
        margin-left: $sidebar_width;
    }
    @include breakpoint(xlarge) {
        padding-right: $sidebar_width;
    }

}

.contactform {
    > form {
        max-width: 40em;
    }
    fieldset {
        border: 1px solid #ccc;
    }
}

nav {
    font-size: 1em;
    line-height: 1em;
    a:not([class^=icon-]) {
        color: $color-link-invert;
        &:hover, &:focus {
            color: $color-link-invert-hover;
        }
    }
    li {
        ol, ul {
            background-color: #222;
        }
    }

    ul ul {
        padding-bottom: 0;
    }

    .active {
        color: #fff;
        background: rgba(0,0,0,0.8);
        border-radius: 2px;
    }

    &.language-switch {
        display: block;
        text-align: center;
        margin: 1em auto;
        li {
            display: inline-block;
            > a, > span {
                display: block;
                padding: .2em;
            }
        }
    }

    &.pagination {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            color: #222;
        }
    }

    &.horizontal {

        @media (hover: none), (any-pointer: coarse) {
            input[type=checkbox] {
                width: auto;
                + label {
                    width: .7em;
                }
            }
        }

        @include breakpoint(medium) {
            ul {
                li {
                    display: block;
                    position: relative;
                    margin: 0;
                }
            }
            li {
                > ul, > ol {
                    display: block;
                    position: static;
                    margin-left: .5em;
                }
            }
        }
    }
    &.breadcrumbs {
        margin-left: .5em;
    }

    @include breakpoint(medium) {
        display: block;

        input[type="checkbox"] {
            + label {
                width: .7em;
                height: .7em;
                left: -0.8em;
                border: 1px solid #444;
                border-radius: 2px;
                top: .3em;
                background: #222;
                cursor: se-resize;
                &:before {
                    left: .05em;
                    border-color: transparent transparent #444 transparent;
                    margin: 0;
                    top: -20%;
                    border-radius: 0;
                }

            }
            &:hover, &:focus {
                + label:before {
                    border-color: transparent transparent #444 transparent;
                }
            }
            &:checked + label {
                cursor: nw-resize;
                &:before {
                    border-color: #444 transparent transparent transparent;
                    top: 20%;
                }
                + a + ul {
                    display: none;
                }
            }
        }

        li.toc {

            border-left: 1px solid #444;
            margin-bottom: .5em;
            padding-left: .5em;
            padding-bottom: .5em;
            border-bottom: 1px solid #444;
            > a {
                display: none;
            }
            > input[type="checkbox"] {
                + label {
                    top: -1em;
                    right: 0;
                    left: auto;
                }
                &:checked + label + a {
                    display: block;
                    padding: 0;
                }
            }
            > ul {
                margin: 0;
            }

        }

    }

    // move toc to the right
    @include breakpoint(xlarge) {

        li.toc {
            position: fixed !important;
            top: 0;
            right: 0;
            width: calc(#{$sidebar_width} - 2em);
            border: none;
            padding: 1em 0 1em .5em;
            margin: 0;
            border-left: 1px dashed #ccc;
            border-bottom: 1px dashed #ccc;
            border-bottom-left-radius: .5em;
            overflow-y: auto;
            max-height: 90%;
            ul {
                background: none;
            }
            a {
                color: $color-text;
                &:hover, &:focus {
                    color: $color-link-hover;
                }
            }
            input[type="checkbox"] + label {
                background: #fff;
            }
            > input[type="checkbox"] + label {
                top: .5em;
                right: .5em;
            }
        }
    }
}

.search {
    margin: 1em 0;
    form {
        margin-top: 0;
        margin-bottom: 0;
        @include breakpoint(medium) {
            width: 100%;
        }
    }
    input[type="text"] {
        border-radius: 4px;
    }
}

h2 {
    margin: 1em 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: .25em;
}

h3 {
    margin: .5em 0;
    border-bottom: 1px dashed #ccc;
    padding-bottom: .25em;
}

h4, h5, h6 {
    margin-bottom: .5em;
}

.parsedown-task-list {
    list-style: none;
    input[type="checkbox"] {
        display: inline-block;
        opacity: 1;
        position: static;
        margin: 0;
        vertical-align: middle;
        width: auto;
        height: auto;
    }
}

pre {
    padding: 1em;
    code {
        &.hljs {
            padding: 0; // pre has a padding already
        }
    }
}

.posts-meta {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: .25em;
    margin-bottom: .25em;
    font-size: .9em;

    text-align: center;
    @include breakpoint(small) {
        text-align: left;
    }
    @include breakpoint(medium) {
        text-align: right;
    }

    nav.breadcrumbs {
        @include breakpoint(medium) {
            display: inline-block;
            + span:before {
                content: ' • ';
            }
        }
    }
    > span + span:before {
        content: ' • ';
    }
    + h1 {
        margin-top: 0;
    }
}

.search-entries, .excerpt {
    box-shadow: -2px 2px 4px $color-shadow;
    padding: 1em;
    margin: 0;
    + .search-entries, + .excerpt {
        margin-top: 1em;
    }
}
.search-entries {
    .posts-meta {
        display: inline-block;
        text-align: left;
        border: none;
    }
}

.search-extended {
    @include breakpoint(medium) {
        text-align: left;
    }
}

.search-entries-header {
    border-bottom: 1px solid $color-shadow;
    .heading {
        font-weight: bolder;
        margin-right: 2em;
    }
}

// quick fix - add separators between footer nav, copyright and login link
.copyright {
    @include breakpoint(medium) {
        &:after, &:before {
            content: ' • ';
        }
    }
}

a.button {
    display: inline-block;
    width: auto;
    margin: .1rem auto;
    padding: .2rem .5rem;
    font-size: 1rem;
    color: $color-link-invert;
    background-color: $color-link;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    //@include box-shadow(0px -2px 0px $color-black-transp-light inset);
    &:hover, &:focus {
        background-color: $color-link-hover;
        color: $color-link-invert-hover;
    }
}

[class^="icon-"] {
    border-radius: 2px;
}

#sidebar_toggle {

    display: none;
    + label {
        display: none;
    }

    @include breakpoint(medium) {
        display: block;
        position: absolute;
        top: .5em;
        left: $sidebar_width;
        margin: 0 0 0 -.5em;

        + label {
            display: block;
            position: fixed;
            top: .5em;
            z-index: 1;
            left: $sidebar_width;
            margin: 0 0 0 -.5em;
            width: 1em;
            height: 1em;

            &:before {
                width: 1em;
                height: 1em;
                left: auto;
                right: 0;
                margin: 0;
                top: 0;
                background-color: $color-white-transp;
            }
            &:after {
                content: '';
                display: block;
                border-color: transparent #222 transparent transparent;
                border-width: .4em;
                border-style: solid;
                position: absolute;
                right: .5em;
                top: .1em;
                left: auto;
            }
        }

        &:checked {
            left: 1em;
            + label {
                left: 1em;
                &:after {
                    content: '';
                    display: block;
                    border-color: transparent transparent transparent #222;
                    border-width: .4em;
                    border-style: solid;
                    position: absolute;
                    right: auto;
                    top: .1em;
                    left: .5em;
                    width: 0;
                    height: 0;
                    margin: 0;
                    background: transparent;
                }
                + header {
                    width: 1em;
                    overflow: hidden;
                    padding: 0;

                    > * {
                        display: none;
                    }

                    + main {
                        margin-left: 1em;
                        + footer {
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
    }
}
