/**
 * npm run build:sass
 * npm run watch:sass
 */

@import 'sass/copyright-preamble';

// other
$border-radius: 0px;
$width:         1000px;

$color-white:      #fdfdfd;
$color-bg:         #fdfdfd;

$color-light-grey: #eaeaea;
$color-light-gray: $color-light-grey; // avoid typos

$color-link:        #366a9c !default;
$color-link-hover:  #062048 !default;

$color-link-invert:        #fefefe; // links on dark background
$color-link-invert-hover:  #fefefe;

// $color-black-transp-light: rgba(0,0,0,.7);

$color-main: #366a9c;

// imports
@import '../../../rljbase/assets/css/sass/import-all';

@import 'mpdocs';
@import 'animation';

// styles for highlight.js
@import '../lib/highlight/styles/default';
@import '../lib/highlight/styles/github';
//@import '../lib/highlight/styles/atom-one-dark';
