// box-sizing
@mixin box-sizing($box) {
  -webkit-box-sizing: $box;
     -moz-box-sizing: $box;
          box-sizing: $box;
}
// hyphens
@mixin hyphens() {
       word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}
@mixin no-hyphens() {
       word-break: normal;
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
}

// box-shadow
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// filter
@mixin filter($filter...) {
  -webkit-filter: $filter;
     -moz-filter: $filter;
      -ms-filter: $filter;
       -o-filter: $filter;
          filter: $filter;
}

// transition
@mixin transition($transition...) {
	-webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
