
$color-white:   #fafafa !default;
$color-text:    $color-darker !default;
$color-shadow:  $color-grey !default;
$color-black-transp-light:  rgba(0,0,0,.2) !default;

$border-radius: 2px !default;

html {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

main, header, footer, aside, nav, div.contactform {
    box-sizing: border-box;
}

body {
    > main,
    > footer,
    > aside,
    > div.contactform,
    > form, // in case of standalone form page without parent container
    > #live-preview > main
    {
        position: relative;
        margin: 1em auto;
        width: $width;
        max-width: 100%;
        padding: 1em;
        background-color: $color-white;
        color: $color-text;
        @include box-shadow(0px 2px 2px $color-shadow);
        border-radius: $border-radius;
    }
}

body > form {
    box-sizing: border-box;
}

body > header {
    position: relative;
    margin: 1em auto;
    width: $width;
    max-width: 100%;
    text-align: center;
    padding: 0 1em;
    > a {
        display: inline-block;
        margin:0 auto;
        img {
            width: 100px;
            height: 100px;
            @include filter(drop-shadow(1px 1px $color-black-transp-light));
        }
        &:hover, &:focus {
            border: none;
        }
    }
    h1 {
        margin: 0;
    }

}

// blog posts excerpts
main > .excerpt {
    margin-top: 1em;
    padding: 1em;
    @include box-shadow(0px 2px 2px $color-shadow);
    .featured_image {
        float: left;
        margin: .5em 1em 1em 0;
    }
    .read_more {
        // text-align: right;
        clear: both;
    }
    > ul, > ol {
        overflow: hidden; // fix bullets overlapping floating image
    }
}

body > footer {
    nav {
        margin-bottom: 1em;
    }
    text-align: center;
}

body > nav {
    display: block;
    margin: 0 auto;
    width: $width;
    max-width: 100%;
    padding: 1em;
    @include breakpoint(small) {
        > ul {
            display: block;
            text-align: center;
            > li {
                text-align: left;
            }
        }
    }
}

nav .active {
    color: $color-darker;
    background-color: transparent;
}

.language-switch {
    position: absolute;
    top: 0;
    right: .5em;
    @include breakpoint(small) {
        top: 1em;
        right: 1em;
    }
    ul {
        list-style-type: none;
        li {
            display: inline-block;
        }
    }
    a {
        display: block;
    }
}

// search results
.search-entries {
    margin-top: 1em;
    padding: 1em;
    @include box-shadow(0px 2px 2px $color-shadow);
}

#live-preview {
    display: inline;
    margin: 0;
    padding: 0;
}
