// colours
$color-white: #fafafa;
$color-black: #000;
$color-white-transp: rgba(255,255,255,.9);
$color-black-transp: rgba(0,0,0,.8);
$color-black-transp-light: rgba(0,0,0,.2);
$color-bg: #f4f4f4;

$color-dark: #222;
$color-darker: #444;
$color-shadow: #ccc;
// $color-grey: #ccc;
$color-main: #470b7e;

$color-link: #a771c5;
$color-link-hover: #ac833c;

// fonts
$font: system, Helvetica, sans-serif;
$font_extra: $font; // webfont for headlines

// other
$border-radius: 2px;
$width: 1000px;

// imports
@import 'mixins';
@import 'breakpoints';
@import 'systemfonts';
// @import 'webfonts'; // Redistribution of webfonts is complicated (copyright)
@import 'meyer-reset';
@import 'base';
@import 'nav';
@import 'table';
@import 'code';
@import 'form';
@import 'gallery';
@import 'lightbox';
@import 'video-embed';
@import 'privacy-notice';
@import 'pagination';
@import 'breadcrumbs';
@import 'search';
// @import 'grid';
@import 'multiplane';

