
// navigate to theme folder
// sass --watch style.scss:style.min.css --style compressed --scss

// or navigate to CpMultiplane root
// sass --watch modules/Multiplane/themes/rljstripes/assets/css/style.scss:modules/Multiplane/themes/rljstripes/assets/css/style.min.css --style compressed --scss

// fonts
$font: system-ui, Helvetica, sans-serif;
$font_extra: $font; // webfont for headlines

// other
// $border-radius: 2px;
$border-radius: 0px;
$width: 1000px;

// colours
// import colours from parent theme
@import '../../../rljbase/assets/css/sass/colors';

$color-white: #fdfdfd;
$color-bg: #fdfdfd;

$color-light-grey: #eaeaea;
$color-light-gray: $color-light-grey; // avoid typos

$color-link-invert: #bed5eb; // links on dark background
$color-link-invert-hover: #f6dfb7;


// imports
@import '../../../rljbase/assets/css/sass/mixins';
@import '../../../rljbase/assets/css/sass/breakpoints';

@import '../../../rljbase/assets/css/sass/systemfonts';
// @import 'webfonts'; // Redistribution of webfonts is complicated (copyright)

@import '../../../rljbase/assets/css/sass/meyer-reset';
@import '../../../rljbase/assets/css/sass/base';

@import '../../../rljbase/assets/css/sass/nav';
@import '../../../rljbase/assets/css/sass/table';
@import '../../../rljbase/assets/css/sass/code';
@import '../../../rljbase/assets/css/sass/labels';
@import '../../../rljbase/assets/css/sass/form';

@import '../../../rljbase/assets/css/sass/css-icons';

@import '../../../rljbase/assets/css/sass/gallery';
@import '../../../rljbase/assets/css/sass/carousel';
@import '../../../rljbase/assets/css/sass/lightbox';
@import '../../../rljbase/assets/css/sass/video-embed';

@import '../../../rljbase/assets/css/sass/privacy-notice';

@import '../../../rljbase/assets/css/sass/pagination';
@import '../../../rljbase/assets/css/sass/breadcrumbs';
@import '../../../rljbase/assets/css/sass/search';

@import 'rljstripes';
