
// a11y
.skip-to-content-link {
    position: absolute;
    top:0;
    left: 0;
    font-weight: 700;
    transform: translateY(-500%);
    &:focus {
        transform: translateY(0%);
    }
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
