
.carousel {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        opacity: 0;
        transition: opacity 3s ease-in-out;
        &.current {
            opacity: 1;
            transition: opacity 3s ease-in-out;
        }
    }
    .icon-pause, .icon-play {
        position: absolute;
        opacity: 0;
        bottom: 1em;
        right: 1em;
        outline: 0; // hide dotted square on focus
        transition: opacity .2s ease-in-out;
    }
    &:hover, &:focus {
        .icon-pause, .icon-play {
            opacity: 1;
        }
    }
    &:focus-within {
        .icon-pause, .icon-play {
            opacity: 1;
        }
    }
}
