
// css icons

$icon-width: 2em !default;
$icon-height: 2em !default;

$color-text: #222 !default;
$color-white-transp: rgba(255,255,255,.9) !default;
$color-icon: $color-text !default;
$color-icon-background: $color-white-transp !default;

[class^=icon-] {
    position: relative;
    display: inline-block;
    width: $icon-width;
    height: $icon-height;
    background-color: $color-icon-background;
    color: $color-icon;
    border-radius: 50%;
    // @include box-shadow(0px 0px ($icon-width / 7.5) 0px $color-white-transp);
}

.icon-pause {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: - $icon-width / 5;
        margin-top: - $icon-height / 5;
        width: $icon-height / 10;
        height: $icon-height / 2.5;
        border-style: solid;
        border-width: 0 $icon-height / (6 + 2 / 3);
    }
}

.icon-play {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: $icon-width / 2.5;
        margin-top: - $icon-height / 5;
        border-style: solid;
        border-width: ($icon-height / 5) ($icon-height / 3);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        background-color: transparent;
    }
}

.icon-plus, .icon-close {
    &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &:before {
        margin-top: - $icon-width / 20;
        margin-left: - $icon-width / 4;
        width: $icon-width / 2;
        height: 0;
        border-bottom-width: $icon-width / 10;
        border-bottom-style: solid;
    }
    &:after {
        margin-left: - $icon-width / 20;
        margin-top: - $icon-width / 4;
        width: 0;
        height: $icon-width / 2;
        border-left-width: $icon-width / 10;
        border-left-style: solid;
    }
}

.icon-close {
    &:before, &:after {
        transform: rotate(45deg);
    }
}

.icon-search {
    &:before, &:after {
        content: '';
        position: absolute;
    }
    &:before {
        top: $icon-width / 5;
        left: $icon-width / 5;
        width: $icon-width / 4;
        height: $icon-width / 4;
        border-style: solid;
        border-width: $icon-width / 10;
        background-color: transparent;
        border-radius: 50%;
    }
    &:after {
        top: $icon-width / (1 + 2 / 3);
        left: $icon-width / 2;
        width: $icon-width / 8;
        border-style: solid;
        border-bottom-width: $icon-width / 20;
        border-top-width: $icon-width / 20;
        border-radius: $icon-width / 40;
        transform: rotate(45deg);
    }
}

.icon-menu { // experimental - rounding issues in different browsers...
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: - $icon-width / 4;
        margin-top: - $icon-width / 4;
        width: $icon-width / 2;
        height: $icon-width / 10;
        border-top-width: $icon-width / 3.333333333;
        border-top-style: double;
        border-bottom-width: $icon-width / 10;
        border-bottom-style: solid;
    }
}

.icon-checked { // experimental
    &:before {
        content: '';
        position: absolute;
        //top: $icon-width  / 4;
        bottom: $icon-width / 10;
        left: $icon-width  / 2 * .4;
        width: $icon-width / 2 * .8;
        height: $icon-width / 4;
        border-width: 0 0 ($icon-width / 2 * .4) ($icon-width / 2 * .4);
        border-style: solid;
        border-top-color: transparent;
        border-right-color: transparent;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
        -webkit-transform-style: preserve-3d; // fix cutted borders in FF
    }
}

.icon-home { // experimental - rounding issues in different browsers...
    &:before, &:after {
        content: '';
        position: absolute;
        left: 50%;
        border-style: solid;
    }
    &:before {
        top: 50%;
        margin-left: - $icon-width / 2 * .6;
        border-width: ($icon-width / 10) ($icon-width / 4) 0 ($icon-width / 4);
        height: $icon-width / 2 * .3;
        width: $icon-width / 10;
    }
    &:after {
        bottom: 50%;
        margin-left: - $icon-width / 2 * .8;
        border-width: 0 ($icon-width / 2 * .8) ($icon-width / 2 * .6) ($icon-width / 2 * .8);
        border-left-color: transparent;
        border-right-color: transparent;
    }
}
