// contact form

$border-radius: 2px !default;

// colours
$color-white:       #fafafa !default;
$color-black:       #000 !default;
$color-dark:        #222 !default;
$color-grey:        #ccc !default;
$color-shadow:      #0c0c0c !default;
$color-black-transp-light: rgba(0,0,0,.2) !default;

// form colors
$color-main:        #8d9444 !default;
$color-main-dark:   #ae5e69 !default;

$color-text:        #000000 !default;
$color-text-light:  #999 !default;
$color-text-dark:   #222 !default;
$color-button-text: $color-white !default;

$color-alarm:       #AD000E !default;
$color-error:       #d50f2c !default;

$color-input:       rgba(255,255,255,.9) !default;
$color-input-hover: $color-white !default;
$color-info:        transparent !default;

$color-fieldset-border: $color-text-dark !default;

form {
    * {
        @include box-sizing(border-box);
    }
    margin: 1rem 0;
}

fieldset {
    border: 1px solid $color-fieldset-border;
    border-radius: $border-radius;
    padding: .5rem;
    text-align: center;
    * {
        text-align: left;
    }
    > .message.error {
        margin-bottom: .5rem;
    }
    > div {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 0 0 .5rem;
        padding-left: .2rem;
        padding-right: .2rem;
        vertical-align: top;
        &:last-of-type { // contains submit button
            text-align: center;
        }
        &[class^=width-] {
            float: left; // fix inline white spaces
        }
        > label {
/*             position: absolute; */
/*             top: 0rem; */
            display: block;
            font-size: .9rem;
            transition: 0.2s;
        }
        .info {
            padding: .2rem 0;
            font-size: .9rem;
            background-color: $color-info;
            border-radius: $border-radius;
        }
    }
}

legend {
    padding: 0 .5rem;
}

input, textarea {
    background-color: $color-input;
    // &[required] {
        // + label:after {
            // content: "*";
        // }
    // }
}

input {
    display: block;
    width: 100%;
    height: 2rem;
    margin: inherit 0 0;
    padding: 5px;
    line-height: 1rem;
    border: 1px solid $color-grey;
    border-radius: $border-radius;
    &:hover, &:focus {
        border: 1px solid $color-grey;
        background-color: $color-input-hover;
        + label {
            margin-left: .2rem;
        }
    }
    + label {
        + .message.error {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-top-width: 0;
          padding-top: .2rem;
        }
    }
    &:invalid {
        // to do...
    }
    &:valid {
        // to do...
    }
}

input[type=checkbox], input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 1em;
    height: auto;
    height: 1em;
    margin: .5em 0 0;
    padding: 0;

    + label {
        display: block;
        position: relative;
        margin-left: 1.2rem;
        &:before {
            content:'';
            position: absolute;
            top: 50%;
            left: -1.2rem;
            width: 1rem;
            height: 1rem;
            margin-top: -.5rem;
            padding: 0;
            border: 1px solid #ccc;
            border-radius: 2px;
            margin-right: .2rem;
            box-sizing: border-box;
        }
    }
    &:hover, &:focus, &:active {
        + label:before {
            border-color: $color-main;
            @include box-shadow(0 0 1em $color-main); // better accesibility and visibility
        }
    }
    &:checked {
        + label:before {
            
        }
        + label:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -1rem;
            width: .6rem;
            height: .6rem;
            margin-top: -.3rem;
            background-color: $color-main;
        }
        &.checkbox-icon-checked { // experimental
            + label:after {
                content: '';
                position: absolute;
                top: 0;
                left: -1.2rem;
                width: .8rem;
                height: .5rem;
                margin: 0;
                border-width: 0 0 .4rem .4rem;
                border-style: solid;
                border-top-color: transparent;
                border-right-color: transparent;
                background-color: transparent;
                color: $color-main;
                transform: rotate(-45deg);
                transform-origin: 50% 50%;
                -webkit-transform-style: preserve-3d; // fix cutted borders in FF
            }
        }
    }
}
input[type=radio] + label:before,
input[type=radio]:checked + label:after {
    border-radius: 50%;
}

input[type=submit], input[type=reset], input[type=button], button {
    width: auto;
    margin: .1rem auto;
    padding: .2rem .5rem;
    font-size: 1rem;
    color: $color-button-text;
    background-color: $color-link;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    @include box-shadow(0px -2px 0px $color-black-transp-light inset);
    &:hover, &:focus {
        background-color: $color-link-hover;
    }
    &:disabled {
        background-color: $color-grey;
        color: $color-darker;
        cursor: default;
        &:hover, &:focus {
            background-color: $color-grey;
        }
    }
}
input, button {
    &[type=submit] {
        background-color: $color-link;
        &:hover, &:focus {
            background-color: $color-link-hover;
        }
        // + p {
            // margin-top:.5rem;
        // }
    }
    &[type=button] {
        background-color: $color-link;
        &:hover, &:focus {
            background-color: $color-link-hover;
        }
    }
    &[type=reset] {
        background-color: $color-darker;
        &:hover, &:focus {
            background-color: $color-link-hover;
        }
    }
    &:disabled {
        background-color: $color-grey;
        color: $color-darker;
        cursor: default;
        &:hover, &:focus {
            background-color: $color-grey;
        }
    }
}

textarea {
    display: block;
    width: 100%;
    height: 10rem;
    padding: .5rem;
    border-radius: $border-radius;
    border: 1px solid $color-grey;
    font-family: $font;
    &:hover, &:focus{
        background-color: $color-input-hover;
        + label{
            margin-left: .2rem;
        }
    }
}

// button {
    // border:none;
// }


//// label positioning

input, textarea {
/*     margin-top: 1.5rem; */
}
label {
    + input, + textarea {
        margin-top: inherit;
    }
    // reverse pretty checkboxes if label doesn't follow input
    input[type=checkbox], input[type=radio]/*, + input[type=checkbox], + input[type=radio]*/ {
        position: static;
        display: inline;
        opacity: 1;
        margin: 0;
    }
}

// reset margin from absolute positioned labels
// label {
    // + input {
        // margin-top:0;
    // }
// }

//// messages

.message {
    font-size: .9rem;
    text-align: left;
    &.error{
        border: 1px solid $color-error;
        margin: 0 .2rem;
        padding: .5rem;
        border-radius: $border-radius;
        line-height: 1.2rem;
    }
    &.success{
        font-size: 1.1rem;
        border: .5rem solid $color-link-hover;
        padding: 1rem .5rem;
        border-radius: $border-radius;
        text-align: center;
        margin: 1rem 0.2rem;
    }
    &.alarm{
        color: $color-alarm;
        border: 2px solid $color-alarm;
    }
}
