
$color-darker:       #222 !default;
$color-white:        #fefefe !default;
$color-main:         #470b7e !default;
$color-black-transp: rgba(0,0,0,.8) !default;

.gallery {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    a, figure {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}
a.thumbs {
    position: relative;
    margin: .5em;
    border-radius: 4px;
    width: calc(100px + 1em);
    height: calc(100px + 1em);
    max-width: 90%;
    padding: 8px;
    vertical-align: top;
    background-color: $color-darker;
    color: $color-white;
    border: none;
    @include box-sizing(border-box);
    img {
        // display: block;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        // border: 1px solid $color-white;
        + span {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: .25em;
            font-size: .9em;
            line-height: 1.2em;
            background-color: $color-black-transp;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            @include box-sizing(border-box);
        }
    }
    &:hover, &:focus {
        background-color: $color-main;
        color: $color-white;
        border: none;
        img {
            @include filter(none);
          + span {
              bottom: auto;
              top: 100%;
              z-index: 1;
              border-radius: 4px;
          }
        }
    }
}
