
$color-privacy-notice-bg: rgba(255,255,255,.98) !default;

#privacy-notice {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 10000;
    bottom: 100%;

    width: calc(100vw - 1em);
    max-height: calc(100vh - 1em);
    margin: .5em;
    @include box-sizing(border-box);

    overflow-y: auto;
    font-size: .9em;
    background-color: $color-privacy-notice-bg;
    outline: 0; // prevent outline on focus
    transition: opacity .5s ease-in, bottom .8s ease-in-out;

    &.show {
        visibility: visible;
        opacity: 1;
        bottom: 0;
        @include breakpoint(small) {
            top: auto;
            left: 50%;
            width: 500px;
            margin-left: -250px;
        }
        @include breakpoint(medium) {
            width: 740px;
            margin-left: -370px;
        }
    }
    h1 {
        font-size: 1.5em;
    }
    form {
        margin: 0;
    }
    button {
        margin-top: .5em;
    }
}
