// search

$color-shadow: #ccc !default;

$icon-width:   2em !default;
$icon-height:  2em !default;

// search bar
.search {
    form {
        position: relative;
        width: 15em;
        max-width: 100%;
        margin: 1em auto;
        overflow: hidden; // avoid possible flickering when button text appears and mouse hovers over it
    }
    input[type=text] {
        display: inline;
        width: 100%;
        margin: 0;
    }

    .icon-search {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: $border-radius;
        width: $icon-width;
        height: $icon-height;
        color: $color-grey;
        background-color: transparent;
        margin: 0;
        padding: 0;
        display: block;
        @include box-shadow(none);
    }
}

.search-extended {
    text-align: left;
    form {
        width: auto;
    }
    input[type=text] {
        width: 30em;
        max-width: 100%;
    }
    > form {
        > div, > button {
            display: inline-block;
            max-width: 100%;
            width: auto;
            margin: .2em 0;
            vertical-align: middle;
        }
        > div {
            padding: 0;
        }
    }
}

label[for=search], label[for=search-extended] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
