
$iframe-width: 480px !default;
$iframe-height: 270px !default;

$color-white-transp-medium: rgba(255,255,255,.5) !default;

.video_embed_container {
    position: relative;
    margin-top: 1em;
    text-align: center;
    .icon-play {
        &:hover, &:focus {
            @include box-shadow(0px 0px .2em 0px $color-black-transp);
        }
    }
}

iframe.video_embed {
    display: block;
    width: $iframe-width;
    height: $iframe-height;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    + .icon-play {
        display: none;
    }
    &[src='about:blank'] {
        + .icon-play {
            position: absolute;
            display: block;
            font-size: 2em;
            left: 50%;
            top: 50%;
            margin-left: -1em;
            margin-top: -1em;
            background-color: $color-white-transp-medium;
        }
    }
}
