
$iframe-width:  480px !default;
$iframe-height: 270px !default;

$color-white-transp: rgba(255,255,255,.8) !default;

.video_embed_container {
    position: relative;
    margin: 1em auto .5em;
    // padding-top: 35px;
    padding-bottom: 75%; // 4:3
    height: 0;
    max-width: 100%;
    &.ratio-16-9 {
        padding-bottom: 56.25%; // 16:9
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .icon-play {
        &:hover, &:focus {
            @include box-shadow(0px 0px .2em 0px $color-black-transp);
        }
    }
    + a {
        display: block;
        text-align: center;
    }
}

iframe.video_embed {
    border: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    + .icon-play {
        display: none;
    }
    &[src='about:blank'] {
        + .icon-play {
            position: absolute;
            display: block;
            font-size: 2em;
            left: 50%;
            top: 50%;
            margin-left: -1em;
            margin-top: -1em;
            background-color: $color-white-transp;
        }
    }
}
